NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=referatecreator.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=referatecreator
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=referatecreator.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://referatecreator-default-rtdb.europe-west1.firebasedatabase.app/

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-3-5-sonnet-20241022
